<!-- <ul class="list-disc">
  <li *ngFor="let item of diets">
    Item ID : {{item.id}} | User ID {{item.userID}}
    <ul class="list-disc">
      <li *ngFor="let food of item.food">
        {{food | dietFoodItemPipe}}
      </li>
    </ul>
  </li>
</ul> -->
<h1>Diets</h1>
<div class="flex flex-wrap">
  <app-diet-card *ngFor="let item of diets" [diet] = "item"></app-diet-card>
  <!-- <div *ngFor="let diet of diets" class="w-32 rounded-lg shadow-md">
    <p class="text-lg">Item ID : {{diet.id}} | User ID {{diet.userID}}</p>
    <p class="text-slate-700" *ngFor="let food of diet.food">
      {{food | dietFoodItemPipe}}
    </p>
  </div> -->
</div>

<h1>Users</h1>
<div class="flex flex-wrap">
  <app-user-card *ngFor="let item of users" [user] = "item"></app-user-card>
</div>

<div class="pt-10">
  <h1 class="text-lg">Create User</h1>
  <form [formGroup]="createUserForm" (ngSubmit) = "createUser()">
    <label for="firstname">
      <input type="text" name="firstname" formControlName="firstname" placeholder="First Name">
    </label>
    <label for="lastname">
      <input type="text" name="lastname" formControlName="lastname" placeholder="Last Name">
    </label>
    <input type="submit" value="Create New User">
  </form>
</div>