<!-- <ul class="list-disc">
  <li *ngFor="let item of diets">
    Item ID : {{item.id}} | User ID {{item.userID}}
    <ul class="list-disc">
      <li *ngFor="let food of item.food">
        {{food | dietFoodItemPipe}}
      </li>
    </ul>
  </li>
</ul> -->

<div class="flex flex-wrap">
  <app-diet-card *ngFor="let item of diets" [diet] = "item"></app-diet-card>
  <!-- <div *ngFor="let diet of diets" class="w-32 rounded-lg shadow-md">
    <p class="text-lg">Item ID : {{diet.id}} | User ID {{diet.userID}}</p>
    <p class="text-slate-700" *ngFor="let food of diet.food">
      {{food | dietFoodItemPipe}}
    </p>
  </div> -->
</div>